restaurant_management_system_wcf/Restaurant_Management_Client/Connected Services/PropertyServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8040/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Restaurant_Management" />
  <xs:element name="AddProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Restaurant_Management" minOccurs="0" name="prpty" nillable="true" type="q1:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPropertyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Restaurant_Management" minOccurs="0" name="GetPropertyResult" nillable="true" type="q2:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProperties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Restaurant_Management" minOccurs="0" name="GetPropertiesResult" nillable="true" type="q3:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Restaurant_Management" minOccurs="0" name="prprty" nillable="true" type="q4:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPropertyPhotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemImageDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyBycategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyBycategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Restaurant_Management" minOccurs="0" name="getPropertyBycategoryResult" nillable="true" type="q5:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>